.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content-img-list {
    width: 300px;
    height: 330px;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}

.content-list {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 400px;
    text-align: center;
    border: 1px solid;
    border-color: transparent #DDDDDD #DDDDDD #DDDDDD;
    border-radius: 5px;
    margin: 20px;
    
}

.content-text-list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 190px;
    
}






